body{
	margin-top: 50px;
	text-align: center;
	color: # black;
	font-family: sans-serif;
	background-image: url(1_0.jpg);
	 background-size: cover; 

	
}
.menu{

	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
}
.manu .btn{
      display: inline-block;
      font-family: sans-serif;
      font-size: 22px;
      float: left;
      color: # fff;
      padding: 8px 12px;

}